In [8]:
import pandas as pd

In [15]:
df = pd.DataFrame({'col':[1,2,3,4,5,6,7,8,9],'col2':[9,10,11,12,13,14,15,16,17]})
df

   col  col2
0    1     9
1    2    10
2    3    11
3    4    12
4    5    13
5    6    14
6    7    15
7    8    16
8    9    17

In [18]:
import numpy as np

In [22]:
#Dataframe from array
array = np.array([[1,2,3,4,5,6],[3,4,5,6,7,8],[2,3,4,5,6,7]])
df = pd.DataFrame(array)
df

   0  1  2  3  4  5
0  1  2  3  4  5  6
1  3  4  5  6  7  8
2  2  3  4  5  6  7

In [24]:
# Create dataframe from np and pd
pd.DataFrame(np.random.rand(12,9))

,0,1,2,3,4,5,6,7,8
0,0.070215,0.268049,0.815092,0.123977,0.116659,0.034804,0.807409,0.896002,0.542936
1,0.987686,0.688102,0.007746,0.645872,0.799289,0.800243,0.509297,0.529533,0.020038
2,0.086165,0.814548,0.211975,0.805977,0.536337,0.840850,0.746929,0.482205,0.462411
3,0.554434,0.497618,0.628216,0.761278,0.756643,0.191667,0.156049,0.738134,0.355381
4,0.401811,0.421445,0.297170,0.150206,0.151057,0.015524,0.090349,0.224383,0.496924
5,0.294824,0.456001,0.706692,0.977504,0.817757,0.175466,0.779266,0.846988,0.206641
6,0.054162,0.473854,0.643765,0.556716,0.358516,0.306354,0.901507,0.475389,0.686499
7,0.661793,0.405656,0.691500,0.149039,0.919256,0.506184,0.458394,0.181282,0.000002
8,0.138180,0.052470,0.757780,0.261044,0.138435,0.680865,0.017014,0.226526,0.600549
9,0.244244,0.622913,0.445392,0.694494,0.706324,0.625476,0.423813,0.018707,0.825979
10,0.648154,0.881355,0.551154,0.164823,0.542397,0.421820,0.484167,0.100596,0.849240
11,0.976129,0.190652,0.407542,0.461053,0.999247,0.071530,0.401034,0.192580,0.318225

In [27]:
#give columns names with same array
df = pd.DataFrame(np.random.rand(12,12), columns=list('ABCDEFGHIJKL'))
df

,A,B,C,D,E,F,G,H,I,J,K,L
0,0.396539,0.603754,0.321335,0.287043,0.701511,0.599248,0.829299,0.456838,0.663970,0.988061,0.140578,0.098518
1,0.300403,0.457855,0.188158,0.313896,0.710860,0.692600,0.509835,0.773416,0.300462,0.548168,0.850410,0.480096
2,0.298434,0.180057,0.734597,0.403532,0.277177,0.313612,0.270454,0.731168,0.660687,0.046030,0.245146,0.116177
3,0.035646,0.625030,0.105348,0.127575,0.846075,0.396615,0.708156,0.144167,0.761330,0.183919,0.300136,0.680223
4,0.084966,0.748515,0.255798,0.602063,0.818737,0.213781,0.644575,0.016850,0.186135,0.174281,0.695580,0.418198
5,0.074661,0.155317,0.174756,0.881774,0.379378,0.314733,0.317147,0.382856,0.227092,0.008208,0.463427,0.923233
6,0.733723,0.851985,0.520932,0.292926,0.755648,0.649977,0.002970,0.628249,0.891494,0.498324,0.928504,0.315394
7,0.350724,0.494246,0.071593,0.683144,0.132360,0.426873,0.223144,0.571747,0.422247,0.623887,0.889977,0.327575
8,0.564138,0.845161,0.897986,0.254514,0.944093,0.947651,0.810630,0.555807,0.492095,0.339956,0.253463,0.463580
9,0.782450,0.146770,0.548816,0.304738,0.509670,0.730911,0.213471,0.986185,0.884093,0.164857,0.407049,0.269242
10,0.084399,0.212041,0.399087,0.755012,0.197244,0.383181,0.517378,0.818342,0.846597,0.433978,0.480951,0.712199
11,0.807201,0.848893,0.356792,0.492889,0.986479,0.848643,0.491161,0.835374,0.933503,0.427109,0.345993,0.096444

In [31]:
df.rename(columns={('ABCDEFGHIJKL'):('MNOPQRSTUVBW')})

,A,B,C,D,E,F,G,H,I,J,K,L
0,0.396539,0.603754,0.321335,0.287043,0.701511,0.599248,0.829299,0.456838,0.663970,0.988061,0.140578,0.098518
1,0.300403,0.457855,0.188158,0.313896,0.710860,0.692600,0.509835,0.773416,0.300462,0.548168,0.850410,0.480096
2,0.298434,0.180057,0.734597,0.403532,0.277177,0.313612,0.270454,0.731168,0.660687,0.046030,0.245146,0.116177
3,0.035646,0.625030,0.105348,0.127575,0.846075,0.396615,0.708156,0.144167,0.761330,0.183919,0.300136,0.680223
4,0.084966,0.748515,0.255798,0.602063,0.818737,0.213781,0.644575,0.016850,0.186135,0.174281,0.695580,0.418198
5,0.074661,0.155317,0.174756,0.881774,0.379378,0.314733,0.317147,0.382856,0.227092,0.008208,0.463427,0.923233
6,0.733723,0.851985,0.520932,0.292926,0.755648,0.649977,0.002970,0.628249,0.891494,0.498324,0.928504,0.315394
7,0.350724,0.494246,0.071593,0.683144,0.132360,0.426873,0.223144,0.571747,0.422247,0.623887,0.889977,0.327575
8,0.564138,0.845161,0.897986,0.254514,0.944093,0.947651,0.810630,0.555807,0.492095,0.339956,0.253463,0.463580
9,0.782450,0.146770,0.548816,0.304738,0.509670,0.730911,0.213471,0.986185,0.884093,0.164857,0.407049,0.269242
10,0.084399,0.212041,0.399087,0.755012,0.197244,0.383181,0.517378,0.818342,0.846597,0.433978,0.480951,0.712199
11,0.807201,0.848893,0.356792,0.492889,0.986479,0.848643,0.491161,0.835374,0.933503,0.427109,0.345993,0.096444