# Encoding
- Label Encoding
- OneHot Encoding
- Ordinal Encoding
- Binary Encoding (onehot  encoding comes here also)
- Frequency or Count Encoding

### Benefits of Encoding
- Algorithem Compatibility
- To convert text data into numeric data
- efficient storage (occupy less space)
- faster computation
-

In [1]:
# Feature Encoding by scikitlearn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# import data
df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [7]:
print(df['time'].value_counts())
print(df['day'].value_counts())
print(df['time'].value_counts())

time
Dinner    176
Lunch      68
Name: count, dtype: int64
day
Sat     87
Sun     76
Thur    62
Fri     19
Name: count, dtype: int64
time
Dinner    176
Lunch      68
Name: count, dtype: int64

In [8]:
# use sklearn
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, OrdinalEncoder

In [29]:
le = LabelEncoder()
df['encoded_time'] = le.fit_transform(df['time'])
df['encoded_time'].value_counts() # dinner  = 0, lunch is = 1
df

,total_bill,tip,sex,smoker,day,time,size,encoded_time,encoded_days
0,16.99,1.01,Female,No,Sun,Dinner,2,0,3.0
1,10.34,1.66,Male,No,Sun,Dinner,3,0,3.0
2,21.01,3.50,Male,No,Sun,Dinner,3,0,3.0
3,23.68,3.31,Male,No,Sun,Dinner,2,0,3.0
4,24.59,3.61,Female,No,Sun,Dinner,4,0,3.0
...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,0,2.0
240,27.18,2.00,Female,Yes,Sat,Dinner,2,0,2.0
241,22.67,2.00,Male,Yes,Sat,Dinner,2,0,2.0
242,17.82,1.75,Male,No,Sat,Dinner,2,0,2.0
243,18.78,3.00,Female,No,Thur,Dinner,2,0,0.0

In [41]:
# ordinal encoding
Oe = OrdinalEncoder(categories=[['Thur','Fri','Sat','Sun']])
df['encoded_day'] = Oe.fit_transform(df[['day']])
df['encoded_day'].value_counts() # dinner  = 0, lunch is = 1
df.drop(columns=['encoded_days'], inplace=True)
df

,total_bill,tip,sex,smoker,day,time,size,encoded_time,encoded_day
0,16.99,1.01,Female,No,Sun,Dinner,2,0,3.0
1,10.34,1.66,Male,No,Sun,Dinner,3,0,3.0
2,21.01,3.50,Male,No,Sun,Dinner,3,0,3.0
3,23.68,3.31,Male,No,Sun,Dinner,2,0,3.0
4,24.59,3.61,Female,No,Sun,Dinner,4,0,3.0
...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,0,2.0
240,27.18,2.00,Female,Yes,Sat,Dinner,2,0,2.0
241,22.67,2.00,Male,Yes,Sat,Dinner,2,0,2.0
242,17.82,1.75,Male,No,Sat,Dinner,2,0,2.0
243,18.78,3.00,Female,No,Thur,Dinner,2,0,0.0

In [26]:
# ordinal encoding
One = OneHotEncoder()
One.fit_transform(df[['day']]).toarray()

ValueError: Expected a 1D array, got an array with shape (244, 4)